.container-details {
    width: 95%;
    max-width: 500px;
}

.container-details div {
    display: flex;
    justify-content: space-between;
}

.container-details button {
    background: none;
    border: none;
}

.container-details button:focus,
.container-details button:focus-visible {
    outline: none;
}

.container-details button:hover {
    border: none;
}

.container-details__titles > * {
    width: 25%;
    text-align: center;
}

.container-item {
    position: relative;
}

.container-item div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    overflow: auto;
}

.container-item div > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-item .container-item__buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 56px;
}

.container-item__buttons button {
    padding: 0 5px;
}

.container-item__delete-sum {
    position: absolute;
    top: 19.5px;
    right: -6px;
    padding: 0;
    color: #9d0208;
    z-index: 100;
}

@media only screen and (max-width: 767px) {
    .contain-input-client {
        flex-direction: column;
    }
}