.contain-dropdown {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    min-height: 30px;
    width: 70%;
}

.contain-dropdown > * {
    height: 30px;
}

@media only screen and (max-width: 767px) {
    .contain-dropdown {
        flex-direction: column;
    }
}