.container-set-options {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.container-list-options {
  overflow-y: auto;
  border: 1px solid #646cff;
  border-radius: 15px;
  height: 70%;
  width: 70%;
  min-width: 320px;
  max-width: 500px;
  background-color: var(--bk-color);
}

.container-option-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 10px 30px 10px;
  border-style: solid;
  border-color: #646cff;
  border-width: 0;
  border-bottom-width: 1px;
}

.container-option-item > p {
  margin-left: 20px;
}

.container-add-option {
  display: grid;
  grid-template-columns: 2fr 0.4fr;
  align-items: center;
  margin: 0 10px 30px 10px;
}

.container-add-option input {
  border: none;
  background: none;
  border-bottom: 1px solid #646cff;
  border-radius: 5px;
}

.container-add-option button {
  align-self: end;
}

.button-delete-option, .container-add-option button {
  align-self: center;
  justify-self: end;
  border: none;
  background: none;
  padding: 0;
  margin-right: 20px;
  height: max-content;
  width: max-content;
  min-width: max-content;
}

.button-delete-option {
  color: #9d0208;
}

.button-delete-option:hover, .button-close-modal:hover, .container-add-option button:hover {
  outline: none;
  border: none;
}

.button-delete-option:focus,
.button-delete-option:focus-visible
.button-close-modal:focus,
.button-close-modal:focus-visible
.container-add-option button:focus,
.container-add-option button:focus-visible {
  outline: none;
}

.button-close-modal {
  border: none;
  background: none;
  padding: 0;
  margin: 10px;
  width: max-content;
  min-width: max-content;
  font-size: 22px;
}
