.contain-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  max-width: 500px;
}

.contain-dropdown > * {
  height: 30px;
  min-width: 180px;
}

.contain-dropdown select {
  padding: 1px 2px;
  border-width: 2px;
  border-style: solid;
  box-sizing: content-box;
}

.button-set-list {
  border: none;
  background: none;
  padding: 0;
  width: max-content;
  min-width: max-content;
  text-decoration: underline;
}

.button-set-list:hover {
  outline: none;
  border: none;
  color: #646cff;
}

.button-set-list:focus,
.button-set-list:focus-visible {
  outline: none;
}

@media only screen and (max-width: 767px) {
  .contain-dropdown {
    flex-direction: column;
    align-items: normal;
  }
}
