form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 70%;
}

form input {
    margin: 15px 0;
    height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
