form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 70%;
    max-width: 500px;
}

form input {
    margin: 15px 0;
    height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container-units {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.container-units div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 180px;
}

.container-units input {
    margin: 0 20px;
    width: 50px;
    text-align: center;
}

.container-units button {
    padding: 0;
    background: none;
    border: none;
}

.container-units button:hover {
    border: none;
}

.container-units button:focus,
.container-units button:focus-visible {
    outline: none;
}