.container-items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr) max-content;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.container-item__amount {
  display: flex;
  justify-content: center;
}

.container-item__amount button {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 10px;
}

.container-item__delete-sum {
  padding: 0;
  width: max-content;
  color: #9d0208;
  z-index: 100;
}
