.container-sum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-sum span {
  height: 30px;
}

@media only screen and (max-width: 767px) {
  .container-sum {
    flex-direction: column;
  }
}
