@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200 text-gray-950 dark:bg-neutral-800 dark:text-gray-300
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    -moz-appearance: textfield;
  }

  button {
    -webkit-tap-highlight-color: transparent; 
  }

}

::-webkit-scrollbar {
  height: 8px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  opacity: 1;
  background-color: #ced4da;
  border-color: rgba(255,255,255);
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  position: absolute;
  background-color: transparent;
  border-radius: 9999px;
}